# SERVER
PORT=3000

# DATABASE MYSQL
HOST=localhost
USER=root
PASSWORD=
DB=tiendaveh

# Api Gateway NGROK - exponer mi api
NGROK_AUTHTOKEN=2yupsKhG4EIrbZmVlWUWQUbWXDT_44iX....
NGROK_DOMAIN=walrus-delicate-routinely.ngrok-free.app